# üî∏DataFrame Ïù∏Îç±Ïã± 1üî∏

In [1]:
import pandas as pd

In [3]:
iphone_df = pd.read_csv('data/iphone.csv', index_col=0)
iphone_df

                      Ï∂úÏãúÏùº  ÎîîÏä§ÌîåÎ†àÏù¥  Î©îÎ™®Î¶¨     Ï∂úÏãú Î≤ÑÏ†Ñ Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

# ‚úÖloc Ïù∏Îç±Ïã±

## df.loc[row, column] : row ÌñâÏùò column Ïó¥ Ïù∏Îç±Ïã±

In [4]:
iphone_df.loc['iPhone 8', 'Î©îÎ™®Î¶¨'] # [row, column]

'2GB'

## df.loc[Ìñâ] = df.loc[Ìñâ, :] : row Ìñâ Ïù∏Îç±Ïã±

In [6]:
iphone_df.loc['iPhone X']

Ï∂úÏãúÏùº        2017-11-03
ÎîîÏä§ÌîåÎ†àÏù¥             5.8
Î©îÎ™®Î¶¨               3GB
Ï∂úÏãú Î≤ÑÏ†Ñ        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [7]:
iphone_df.loc['iPhone X', :] #ÏúÑÏôÄ Í∞ôÏùå

Ï∂úÏãúÏùº        2017-11-03
ÎîîÏä§ÌîåÎ†àÏù¥             5.8
Î©îÎ™®Î¶¨               3GB
Ï∂úÏãú Î≤ÑÏ†Ñ        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [8]:
type(iphone_df.loc['iPhone X']) # ÏûêÎ£åÌòï : pandasÏùò series(1Ï∞®Ïõê ÏûêÎ£åÌòï)

pandas.core.series.Series

## df.loc[:, column] = df[column] : column Ïó¥ Ïù∏Îç±Ïã±

In [9]:
iphone_df.loc[:, 'Ï∂úÏãúÏùº'] #loc

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: Ï∂úÏãúÏùº, dtype: object

In [11]:
iphone_df['Ï∂úÏãúÏùº'] # ÏúÑÏôÄ Í∞ôÏùå

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: Ï∂úÏãúÏùº, dtype: object

In [12]:
type(iphone_df['Ï∂úÏãúÏùº']) # ÏûêÎ£åÌòï : pandasÏùò series

pandas.core.series.Series

# ‚úÖÎ¶¨Ïä§Ìä∏Î°ú Ïù∏Îç±Ïã±

## Î¶¨Ïä§Ìä∏Î°ú Ïù∏Îç±Ïã± (row)

In [16]:
iphone_df.loc[['iPhone X', 'iPhone 8']]

                 Ï∂úÏãúÏùº  ÎîîÏä§ÌîåÎ†àÏù¥  Î©îÎ™®Î¶¨     Ï∂úÏãú Î≤ÑÏ†Ñ Face ID
iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No

In [17]:
iphone_df.loc[['iPhone X', 'iPhone 8'], :]

                 Ï∂úÏãúÏùº  ÎîîÏä§ÌîåÎ†àÏù¥  Î©îÎ™®Î¶¨     Ï∂úÏãú Î≤ÑÏ†Ñ Face ID
iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No

## Î¶¨Ïä§Ìä∏Î°ú Ïù∏Îç±Ïã± (column)

In [13]:
iphone_df[['Ï∂úÏãúÏùº', 'Î©îÎ™®Î¶¨']]

                      Ï∂úÏãúÏùº  Î©îÎ™®Î¶¨
iPhone 7       2016-09-16  2GB
iPhone 7 Plus  2016-09-16  3GB
iPhone 8       2017-09-22  2GB
iPhone 8 Plus  2017-09-22  3GB
iPhone X       2017-11-03  3GB
iPhone XS      2018-09-21  4GB
iPhone XS Max  2018-09-21  4GB

In [15]:
iphone_df.loc[:, ['Ï∂úÏãúÏùº', 'Î©îÎ™®Î¶¨']]

                      Ï∂úÏãúÏùº  Î©îÎ™®Î¶¨
iPhone 7       2016-09-16  2GB
iPhone 7 Plus  2016-09-16  3GB
iPhone 8       2017-09-22  2GB
iPhone 8 Plus  2017-09-22  3GB
iPhone X       2017-11-03  3GB
iPhone XS      2018-09-21  4GB
iPhone XS Max  2018-09-21  4GB

# Îëê Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ Ïù∏Îç±Ïã± ÌõÑ Ìï©ÏπòÍ∏∞(ÎîïÏÖîÎÑàÎ¶¨ Ïù¥Ïö©)
import pandas as pd

samsong_df = pd.read_csv('data/samsong.csv')

hyundee_df = pd.read_csv('data/hyundee.csv')

day = samsong_df['ÏöîÏùº']

samsong = samsong_df['Î¨∏ÌôîÏÉùÌôúÎπÑ']

hyundee = hyundee_df['Î¨∏ÌôîÏÉùÌôúÎπÑ']

dict1 = {
    'day' : day,
    'samsong' : samsong,
    'hyundee' : hyundee
}

df = pd.DataFrame(dict1)

df

# ‚úÖÏä¨ÎùºÏù¥Ïã±

## Ïä¨ÎùºÏù¥Ïã± - row

In [22]:
iphone_df.loc['iPhone 7' : 'iPhone X'] # Ïä¨ÎùºÏù¥Ïã±

                      Ï∂úÏãúÏùº  ÎîîÏä§ÌîåÎ†àÏù¥  Î©îÎ™®Î¶¨     Ï∂úÏãú Î≤ÑÏ†Ñ Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes

## Ïä¨ÎùºÏù¥Ïã± - column

In [24]:
iphone_df['Ï∂úÏãúÏùº' : 'Î©îÎ™®Î¶¨'] # ÏïàÎèº --> locÏúºÎ°ú Ïç®Îùº

Empty DataFrame
Columns: [Ï∂úÏãúÏùº, ÎîîÏä§ÌîåÎ†àÏù¥, Î©îÎ™®Î¶¨, Ï∂úÏãú Î≤ÑÏ†Ñ, Face ID]
Index: []

In [25]:
iphone_df.loc[:, 'Ï∂úÏãúÏùº':'Î©îÎ™®Î¶¨']

                      Ï∂úÏãúÏùº  ÎîîÏä§ÌîåÎ†àÏù¥  Î©îÎ™®Î¶¨
iPhone 7       2016-09-16    4.7  2GB
iPhone 7 Plus  2016-09-16    5.5  3GB
iPhone 8       2017-09-22    4.7  2GB
iPhone 8 Plus  2017-09-22    5.5  3GB
iPhone X       2017-11-03    5.8  3GB
iPhone XS      2018-09-21    5.8  4GB
iPhone XS Max  2018-09-21    6.5  4GB

## Ïä¨ÎùºÏù¥Ïã± - row, column

In [26]:
iphone_df.loc['iPhone 7':'iPhone X', 'Ï∂úÏãúÏùº':'Î©îÎ™®Î¶¨']

                      Ï∂úÏãúÏùº  ÎîîÏä§ÌîåÎ†àÏù¥  Î©îÎ™®Î¶¨
iPhone 7       2016-09-16    4.7  2GB
iPhone 7 Plus  2016-09-16    5.5  3GB
iPhone 8       2017-09-22    4.7  2GB
iPhone 8 Plus  2017-09-22    5.5  3GB
iPhone X       2017-11-03    5.8  3GB

# ‚úÖ boolean Ïù∏Îç±Ïã±

In [28]:
iphone_df

                      Ï∂úÏãúÏùº  ÎîîÏä§ÌîåÎ†àÏù¥  Î©îÎ™®Î¶¨     Ï∂úÏãú Î≤ÑÏ†Ñ Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [29]:
iphone_df.loc[[True, False, False, False, True, False, True]] #TrueÏù∏ Í≤ÉÎßå Ï∂úÎ†•

                      Ï∂úÏãúÏùº  ÎîîÏä§ÌîåÎ†àÏù¥  Î©îÎ™®Î¶¨     Ï∂úÏãú Î≤ÑÏ†Ñ Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [30]:
iphone_df.loc[:, [True, False, False, False, True]]

                      Ï∂úÏãúÏùº Face ID
iPhone 7       2016-09-16      No
iPhone 7 Plus  2016-09-16      No
iPhone 8       2017-09-22      No
iPhone 8 Plus  2017-09-22      No
iPhone X       2017-11-03     Yes
iPhone XS      2018-09-21     Yes
iPhone XS Max  2018-09-21     Yes

In [31]:
iphone_df['ÎîîÏä§ÌîåÎ†àÏù¥'] > 5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: ÎîîÏä§ÌîåÎ†àÏù¥, dtype: bool

In [32]:
iphone_df.loc[iphone_df['ÎîîÏä§ÌîåÎ†àÏù¥'] > 5]

                      Ï∂úÏãúÏùº  ÎîîÏä§ÌîåÎ†àÏù¥  Î©îÎ™®Î¶¨     Ï∂úÏãú Î≤ÑÏ†Ñ Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [33]:
iphone_df['Face ID'] == 'Yes'

iPhone 7         False
iPhone 7 Plus    False
iPhone 8         False
iPhone 8 Plus    False
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: Face ID, dtype: bool

In [34]:
iphone_df.loc[iphone_df['Face ID'] == 'Yes']

                      Ï∂úÏãúÏùº  ÎîîÏä§ÌîåÎ†àÏù¥  Î©îÎ™®Î¶¨     Ï∂úÏãú Î≤ÑÏ†Ñ Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [36]:
a = (iphone_df['ÎîîÏä§ÌîåÎ†àÏù¥'] > 5) & (iphone_df['Face ID'] == 'Yes') #and
a

iPhone 7         False
iPhone 7 Plus    False
iPhone 8         False
iPhone 8 Plus    False
iPhone X          True
iPhone XS         True
iPhone XS Max     True
dtype: bool

In [38]:
iphone_df[a]

                      Ï∂úÏãúÏùº  ÎîîÏä§ÌîåÎ†àÏù¥  Î©îÎ™®Î¶¨     Ï∂úÏãú Î≤ÑÏ†Ñ Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

# ‚úÖÏúÑÏπòÎ°ú Ïù∏Îç±Ïã±ÌïòÍ∏∞

- iloc : integer location

In [39]:
iphone_df.iloc[2:4] #row

                      Ï∂úÏãúÏùº  ÎîîÏä§ÌîåÎ†àÏù¥  Î©îÎ™®Î¶¨     Ï∂úÏãú Î≤ÑÏ†Ñ Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No

In [40]:
 iphone_df.iloc[[1,3], [1,4]] #row[1,3], column[1,4]

               ÎîîÏä§ÌîåÎ†àÏù¥ Face ID
iPhone 7 Plus    5.5      No
iPhone 8 Plus    5.5      No

In [42]:
iphone_df.iloc[3:, 1:4] #row[3~], column[1~3]

               ÎîîÏä§ÌîåÎ†àÏù¥  Î©îÎ™®Î¶¨     Ï∂úÏãú Î≤ÑÏ†Ñ
iPhone 8 Plus    5.5  3GB  iOS 11.0
iPhone X         5.8  3GB  iOS 11.1
iPhone XS        5.8  4GB  iOS 12.0
iPhone XS Max    6.5  4GB  iOS 12.0